% SPDX-License-Identifier: AGPL-3.0-or-later
{erl_opts, [debug_info, nowarn_deprecated_function]}.
{deps, [
    {cowboy, "2.19.0"},
    {jose, "1.11.12"},
    {ezstd, "1.2.4"},
    {enats, "1.2.0"},
    {opentelemetry_api, "1.5.0"},
    {eqwalizer_support,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git",
            {ref, "c57aa9e3a05553d1ba66ea647a2177eaa469211b"}, "eqwalizer_support"}}
]}.

{project_plugins, [
    {erlfmt, {git, "https://github.com/WhatsApp/erlfmt.git", {tag, "v1.8.0"}}},
    {rebar3_lint, "6.0.0"},
    {rebar3_audit, "0.2.8"}
]}.

{pre_hooks, [{compile, "../tools/ci/run.sh build-gateway-nifs --gateway-dir ."}]}.

{overrides, [
    {override, cowboy, [{deps, [cowlib, ranch]}]},
    {override, enats, [{plugins, []}, {project_plugins, []}]},
    {add, enats, [{erl_opts, [nowarn_deprecated_catch]}]},
    {add, jose, [{erl_opts, [nowarn_deprecated_catch]}]},
    {override, enats_msg, [{plugins, []}, {project_plugins, []}]},
    {override, ezstd, [{plugins, []}, {project_plugins, []}]}
]}.

{relx, [
    {release, {fluxer_gateway, "0.0.0"}, [
        fluxer_gateway,
        enats,
        sasl
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {sys_config, "./config/sys.config"},
    {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},
    {dev, [
        {erl_opts, [debug_info, nowarn_deprecated_function, {d, 'DEV_MODE'}]}
    ]},
    {test, [
        {erl_opts, [{d, 'TEST'}]},
        {deps, [
            {meck, "1.2.0"}
        ]}
    ]}
]}.

{shell, [
    {config, "../.fluxer/dev/gateway/sys.config"},
    {vm_args, "../.fluxer/dev/gateway/vm.args"},
    {apps, [fluxer_gateway]}
]}.

{erlfmt, [
    write,
    {print_width, 96},
    {files, [
        "src/**/*.erl",
        "src/*.app.src",
        "include/**/*.hrl",
        "test/**/*.erl",
        "elvis.config",
        "rebar.config",
        "rebar.config.script"
    ]}
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        missing_return,
        overlapping_contract
    ]},
    {plt_apps, all_deps},
    {plt_extra_apps, [
        crypto, enats, inets, jose, public_key, ranch, ssl
    ]},
    {warnings_file, "dialyzer.ignore-warnings"}
]}.

{eunit_opts, [{application_start, false}]}.
{eunit_compile_opts, [debug_info]}.
